<form action="/payment/results">
  <label>APR</label><input type="text" name="users_apr">
  <label>Number of years</label><input type="text" name="users_num_of_years">
    <label>Principal</label><input type="text" name="users_principal">
  <button>Calculate monthly payment</button>

</form>
