<form action="/random/results">
  <label>Minimum</label><input type="text" name="users_min_number">
  <label>Number of years</label><input type="text" name="users_max_number">
  <button>Pick random number</button>

</form>
